# Programming Assignment 4
## Created by Eli Dalton  -  Version 1
## CS-150-02  -  Computer Programming for the Liberal Arts
## Fall 2021

### Section a:

In [33]:
list1 = [12,31,"Wilbur",501,29,31,20,2001,312]

#### i. The `append()` function adds only one element to the end of a list. It does not change any existing element in the list.

In [34]:
list1.append("dog")
print(list1)

[12, 31, 'Wilbur', 501, 29, 31, 20, 2001, 312, 'dog']

#### ii. The `extend()` function adds an iterable, such as a list, tuple, or string to the end of the original list.

In [35]:
list2 = [89,"cat", 2021, 312]
list1.extend(list2)
print(list1)

[12, 31, 'Wilbur', 501, 29, 31, 20, 2001, 312, 'dog', 89, 'cat', 2021, 312]

#### iii. The `insert()` function inserts an element into the list at the specified index. It does not replace any element

In [36]:
list1.insert(5, "pig")
print(list1)

[12, 31, 'Wilbur', 501, 29, 'pig', 31, 20, 2001, 312, 'dog', 89, 'cat', 2021, 312]

#### iv. The `remove()` function removes the FIRST matching element in the list.

In [37]:
list1.remove(312)
print(list1)

[12, 31, 'Wilbur', 501, 29, 'pig', 31, 20, 2001, 'dog', 89, 'cat', 2021, 312]

#### v. The `count()` function returns the number of times a specified element appears in the list.

In [38]:
list1.count("pig")

1

In [39]:
list1.count(31)

2

#### vi. The `index()` function returns the index of the specified element in the list.

In [40]:
list1.index(2001)

8

#### vii. The `pop()` function removes the element from the list at the specified index value, and returns the removed element.

In [41]:
list1.pop(8)

2001

In [42]:
list1

[12, 31, 'Wilbur', 501, 29, 'pig', 31, 20, 'dog', 89, 'cat', 2021, 312]

#### viii. The `sorted()` function returns a sorted list of the specified iterable. When left to default it sorts in ascending order. Strings are sorted alphabetically, and numbers are sorted numerically. Note: you cannot sort an iterable that contains both string and numeric values.

In [44]:
list3 = [23,45,87,126,3,94,56]
sorted(list3)

[3, 23, 45, 56, 87, 94, 126]

#### ix. The `copy()` function creates a new list of the original list.

In [46]:
newlist = list1.copy()
print(newlist)

[12, 31, 'Wilbur', 501, 29, 'pig', 31, 20, 'dog', 89, 'cat', 2021, 312]

#### x. The `clear()` function removes all items from a list.

In [47]:
print(list3)
list3.clear()
print(list3)

[23, 45, 87, 126, 3, 94, 56]
[]

#### xi. The `any()` function returns True if any element in an iterable is true, otherwise it returns False. If the iterable object is empty, the any() function will return False.

In [48]:
any(list1)

True

In [49]:
any(list3)

False

#### xii. The `filter()` function extracts elements from an iterable for which a function returns true.

In [58]:
list4 = [59,12,16,79,785,412,63,92]
def even_nums(numbers):
    if numbers%2==0:
        return True
    return False

x = filter(even_nums,list4)
even_numbers = list(x)
print(even_numbers)

[12, 16, 412, 92]

#### xiii. The `list()` function returns a list.
* For this example see the previous example for the filter() function
* list4 was filtered for even numbers and those even numbers were assigned to the filter x
* x was then converted to the list even_numbers using the list() function

In [55]:
even_numbers

[12, 16, 412, 92]

In [56]:
type(even_numbers)

list

#### xiv. The `map()` function applies a given function to each item of an iterable and retruns an iterator.

In [59]:
def nums_cubed(numbers):
    return numbers**3

y = map(nums_cubed, list4)
cubed_numbers = list(y)
print(cubed_numbers)

[205379, 1728, 4096, 493039, 483736625, 69934528, 250047, 778688]

### Section b:

#### i. The `cmp()` function compares two objects (x and y) and returns -1 if x < y, 0 if x = y, and 1 if x > y.
* Note: this function does not exist in Python 3
* For the sake of example I will attempt to create a similar function below

In [70]:
def cmp(x,y):
    if x<y:
        return -1
    elif x==y:
        return 0
    else:
        return 1

print(cmp(45,96))
print(cmp(26,15))
print(cmp(112,112))

-1
1
0

#### ii. The `len()` function returns the number of elements in an object.

In [64]:
tuple1 = (56,29,841,123,75,21,6,48)
len(tuple1)

8

#### iii. The `max()` function returns the larges item in an iterable.

In [65]:
max(tuple1)

841

#### iv. The `tuple(seq)` function converts a list into a tuple.

In [66]:
print(list4)

[59, 12, 16, 79, 785, 412, 63, 92]

In [67]:
tuple2 = tuple(list4)
print(tuple2)

(59, 12, 16, 79, 785, 412, 63, 92)

In [68]:
type(tuple2)

tuple